@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
  font-family: 'Ubuntu', sans-serif;
}
.customModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}
.modalContent {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modalIsHidden {
  display: none;
}

.profileImage {
  border-radius: 50%;
}
.profileImage:hover {
  cursor: pointer;
}

.spinnerIcon {
  animation: rotate 1s infinite both;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
